h1{
    text-align: center;
}
.red{
    border: 10px solid firebrick;
    /* background-color: firebrick; */
    
}
.pink{
    border: 10px dashed rgb(255, 105, 180);
    /* background-color: hotpink; */
    
}
.yellow{
    border: 10px double #ffd700;
    /* background-color: gold; */
}
.blue{
    border: 10px dotted hsl(174, 72%, 56%);
    /* background-color: turquoise; */
}