h1{
    text-align: center;
}
.red{
    border: 10px solid firebrick;
    /* background-color: firebrick; */
    
}
.pink{
    border: 10px dashed rgb(255, 105, 180);
    /* background-color: hotpink; */
    
}
.yellow{
    border: 10px double #ffd700;
    /* background-color: gold; */
}
.blue{
    border: 10px dotted hsl(174, 72%, 56%);
    /* background-color: turquoise; */
}

/* Borders:    */
/*  
/*
*/
.dotted{
    border-style: dotted;
    border-width: 10px 5px 3px 2px;
}
.discontinued{
    border-style: dashed;
    border-width: thick;
    /* thin, medium thick */
}
.solid{
    border: solid red;
    border-width: 10px 5px 2px;
}
.double{
    border: 5px double blueviolet;
    border-width: 10px 5px;
}
.groove{
    border: 10px groove;
}
.ridge{
    border: 10px ridge;
}
.inset{
    border: 10px inset;
}
.outset{
    border: 10px outset;
}
.borderless{
    border: none;
}
.hidden{
    border: hidden;
}
.mixed{
    border-style: dotted solid dashed double;
}