h1{
    text-align: center;
    color: brown;
}
div.container{
    width: 30%;
    height: 20%;
    margin: auto;
    border: 3px solid slateblue;
    padding: 15px;
    color:teal;
    text-align: center;
}
div.container p::selection{
    background-color: yellow;
    color: red;
}

div.container p::first-line{
    font-variant: small-caps;
    color: red;
}
div.container p::first-letter{
    font-size: 1.5em;
}