h1{
    text-align: center;
    color:coral;
}
div{
    /* Content -> Padding -> Border -> Margin*/
    padding: 10px;
    border: 15px solid #457b9d;
    margin: 20px;
    background-color: #f1faee;
    width: 300px;

    /* Outline */
    /* Accepts every border style */
    outline: 10px solid #a8dadc;
    /* outline offset */
    outline-offset: 10px;
}